# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# CI/CD
.gitlab-ci.yml

# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
venv/
.venv/

examples/
registry/