flasgger==0.9.7.1
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
gurobipy==12.0.1
kubernetes==29.0.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
PyYAML==6.0.2
Requests==2.32.3
SQLAlchemy==2.0.28
Werkzeug==3.1.3
